.navs {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
  }
  li {
    margin-right: 1em;
  }

}
.bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 9999;
  border-top: 1px solid #eee;
}
.top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
